* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

img {
    max-width: 100%;
}

body {
    background-color: rgb(250, 235, 237);
    padding: 1rem;
}

.title {
    text-align: center;
    padding: 2rem;
}

.carga {
    padding: 20px;
}

.fecha {
    width: 90px;
}

.cliente {
    width: 400px;
}

.detalle {

    width: 550px;

}

.cantidad {
    width: 50px;
}

.ingreso {
    width: 50px;
}

.egreso {
    width: 50px;
}

.valortot {
    width: 90px;
    align-items: center;
}

.agregaritem {
    width: 85px;
    background-color: rgb(157, 129, 129);
}

.parrafo1 {
    padding: 15px;
}

th {
    border-style: double;
    background-color: pink;
    font-size: 18px;
    padding: 0.25rem;

}

.planilla {
    padding: 2rem;
    background-color: rgb(234, 250, 233);
    text-align: center;
}

.centrado {
    display: flex;
    flex-direction: column;
    border-style: double;
    background-color: rgb(189, 187, 187);
    align-items: center;
}

.totales {
    border-style: double;
    font-size: 20px;
}

.cuadro-totales {
    background-color: rgb(143, 167, 159);
    padding: 4rem;
    text-align: right;
}