* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

img {
    max-width: 100%;
}

body {
    background-color: rgb(250, 235, 237);

}

.title {
    text-align: center;
    padding: 2rem;
}

.formulario {
    padding: 4rem;
    display: inline
}

.carga {
    padding: 15px;
}

.fecha {
    width: 100px;
}

.cliente {
    width: 200px;
}

.detalle {

    width: 350px;

}

.cantidad {
    width: 50px;
}

.valorun {
    width: 50px;
}

.valortot {
    width: 90px;
}

.parrafo1 {
    padding: 15px;
}

.ingresobtn {
    padding: 10px;

}

.egresobtn {
    padding: 10px;

}

.botones {
    display: flex;
    padding: 1rem;
}

.tabla {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-style: double;
    
}

th {
    border-style: double;
    background-color: pink;
}

tr {
    border-style: double;
    background-color: blueviolet;
}